.titulos
{
    font-family: 'Lobster', cursive;
    color: beige;
}
#button
{
    width: 80px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}
#button:hover
{
    transition: 2s;
    background-color: aquamarine;
    color: indigo;
}
#formulario
{
    text-align: center;
    background-color: rgba(255,255,255,0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.18);
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}
body
{
    padding-left: 33%;
    padding-top: 15%;
    background-image: url(fundoreal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inputs
{
    width: 150px;
    margin: 5px;
}