#menu ul li a
{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
#menu ul li a:hover
{
    transition: 2s;
    color: rgb(0,250,154);
}
#menu ul
{
    list-style: none;
}
#menu ul li
{
    margin: 20px;
    display: inline-block;
}
#menu
{
    text-align: center;
    margin-top: 15%;
    background-color: rgb(123,104,238);
    width: 25%;
    margin-left: 37%;
    padding: 0;
    border-radius: 10px;
}
h1
{
    font-family: 'Baloo 2', cursive;
    color: whitesmoke;
}
body
{
    background-color: rgb(0,250,154);
}